@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$fa-font-path: "~font-awesome/fonts";
.at-restaurant{
  color: red;
}
.section-work {
  padding: 0;
  background-color:	#B8B8B8;
}
.section-work a{
 text-decoration: none;
 color: white;
  
}
.work-showcase {
  list-style: none;
  width: 100%;
}

.work-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.work-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.work-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.work-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.form-section h2 {
  margin-bottom: 38px;
  align-content: center;
}
.form-section {
	background: url("../img/form.jpg");
	background-repeat: no-repeat;
	margin-top: 200px;
}
.responsive-design{
  background-color:	#282828;
}
.responsive-design h4{
  color: red;
}
.responsive-design p{
  color: white;
}
.contacts{
  background-color: red($color: #000000);
}